body {
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
  background: #fff;
}

header {
  padding: 60px;
  background: #000;
  color: #fff;
}

.btn {
  padding: 12px 20px;
  background: gold;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
